@model Analista_Aula01.Models.Produto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdutoNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoPeso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdutoPeso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QntdEstoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QntdEstoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoProduto.NomeTipoProduto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProdutoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
